.container {
  width: 70%;
  height: 70vh;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;

  display: flex;
  position: relative;

  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: -35rem -15rem;
}

.images-container {
  flex-basis: 50%;

  align-self: center;
  overflow: hidden;
}

.hero {
  display: block;
  transform: translateX(-5rem);
}

.box {
  position: absolute;
  z-index: 10;
  transform: translate(-5.5rem, 8rem);
}

.faq-section {
  flex-basis: 50%;
  width: 100%;
  align-self: center;
  margin-right: 10rem;
}

.faq-section > h1 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 1.2rem;
  }

  .container {
    background-position: -25rem;
  }

  .hero {
    width: 100%;
  }

  .box {
    transform: translate(-5rem, 9.5rem);
  }
}

@media screen and (max-width: 1350px) {
  .faq-section {
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: 50% 2%;
    background-size: 18rem;
    flex-flow: column nowrap;
    height: max-content;
  }

  .images-container {
    position: absolute;
    justify-self: center;
    overflow: visible;
  }

  .faq-section > h1 {
    margin-top: 10rem;
    text-align: center;
  }

  .hero {
    content: url("../images/illustration-woman-online-mobile.svg");
    transform: scale(1.2) translate(-1rem, -5.5rem);
  }

  .box {
    display: none;
  }

  .faq-section {
    margin: 0;
    padding: 0 5rem 3rem;
  }
}

@media screen and (max-width: 670px) {
  .faq-section {
    padding: 0 1.5rem 3rem;
  }
}

@media screen and (max-width: 510px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    background-size: 20rem;
    background-position: 50% -1%;
  }

  .hero {
    transform: scale(1) translate(-1rem, -9rem);
  }
}
