.question {
  display: flex;
  color: var(--very-dark-grayish-blue);

  justify-content: space-between;
}

.question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.question > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}
